/scripts/test/.env
/scripts/test/__pycache__/
/scripts/test/conf/certs/sslkeylog.log
/scripts/test/logs-lbo/*
!/scripts/test/logs-lbo/*.txt
!/scripts/test/logs-lbo/manifest.json
!/scripts/test/logs-lbo/results.json
!/scripts/test/logs-lbo/*.pcap
!/scripts/test/logs-lbo/*.pcapng
/scripts/test/logs-hr/*
!/scripts/test/logs-hr/*.txt
!/scripts/test/logs-hr/manifest.json
!/scripts/test/logs-hr/results.json
!/scripts/test/logs-hr/*.pcap
